<a href="https://colab.research.google.com/github/Natheesh-N/DEV/blob/main/ztest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [2]:
df = pd.read_csv('/content/2023_Countries by Population.csv')
df.head()

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,356,696828385.0,1.059634e+09,1.240614e+09,1.417173e+09,1.428628e+09,1.514994e+09,1.670491e+09,India,3287590.0,2973190.0,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,1
1,156,982372466.0,1.264099e+09,1.348191e+09,1.425887e+09,1.425671e+09,1.415606e+09,1.312636e+09,China,9706961.0,9424702.9,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,2
2,840,223140018.0,2.823986e+08,3.111828e+08,3.382899e+08,3.399966e+08,3.521623e+08,3.753920e+08,United States,9372610.0,9147420.0,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,3
3,360,148177096.0,2.140724e+08,2.440162e+08,2.755013e+08,2.775341e+08,2.921501e+08,3.172252e+08,Indonesia,1904569.0,1877519.0,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,4
4,586,80624057.0,1.543699e+08,1.944545e+08,2.358249e+08,2.404857e+08,2.740298e+08,3.678085e+08,Pakistan,881912.0,770880.0,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,5

In [3]:
df[['pop1980','pop2000']].describe()

            pop1980       pop2000
count  2.340000e+02  2.340000e+02
mean   1.898462e+07  2.626947e+07
std    8.178519e+07  1.116982e+08
min    7.330000e+02  6.510000e+02
25%    2.296142e+05  3.272420e+05
50%    3.141146e+06  4.292907e+06
75%    9.826054e+06  1.576230e+07
max    9.823725e+08  1.264099e+09

In [4]:
ztest ,pvalue = stests.ztest(df['pop1980'], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.00038399568995155665
3.5508455492233826

In [5]:
if pvalue<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted

In [6]:
ztest,pval1=stests.ztest(df['pop1980'],df['pop2000'],value=100)
print(float(pval1))
print(ztest)

0.4208401592685045
-0.8049645113458104

In [7]:
if pval1<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis accepted , Alternative hyphothesis rejected